body {
    font-family: sans-serif;
    background-color: rgb(250, 221, 218);
}

h1 {
    text-align: center;
    background-color: rgb(233, 136, 136);
}

header {
    padding: 5px;
    margin: 10px;
    text-align: center;
    background-color: rgb(233, 136, 136);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgb(255, 193, 193);
}
